
{% autoescape off %}

Hello {{ user.first_name }},

Password Assistance

We received a request to reset the password for your GreatKart account.

To reset your password, click the link below:

http://{{ domain }}{% url 'resetPassword_validate' uidb64=uid token=token %}

If you did not request a password reset, you can safely ignore this email. Your password will remain unchanged.

Thank you for shopping with GreatKart.

--------------------------------------------------
GreatKart Customer Service
Secure shopping made simple.
© 2026 GreatKart. All Rights Reserved.
--------------------------------------------------

{% endautoescape %}

